.wrapper {
  text-align: center;
  width: 100%;
  min-height: auto;
  justify-content: center;
  background-color: black;
  display: flex;
  align-items: center;
}

.techImage {
  background-image: url("../../images/tech1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .wrapper {
    animation: tech-image-spin infinite 20s linear;
    animation: tech-image-spin infinite 12s linear;
  }
} */
/* @keyframes tech-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: #fff;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  outline: none;
  height: 100px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  box-shadow: 3px 3px 30px #094fa2, -3px -3px 30px #094fa2;
  transition: 0.3s;
}

.button:hover {
  outline: none;
  background: #ff000000;
  box-shadow: 3px 3px 30px #376c54, -3px -3px 30px #376c54;
  /* box-shadow: 3px 3px 30px #c8ded5, -3px -3px 30px #c8ded5; */
}

.button:active {
  outline: none;
  background: #ff000000;
  /* box-shadow: 3px 3px 30px #295664, -3px -3px 30px #295664; */
  box-shadow: 3px 3px 30px #c8ded5, -3px -3px 30px #c8ded5;
  transition: 0.1s;
}

.button:focus {
  outline: 0 !important;
}
